---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blogs">
  <main class="px-[10%] py-[5%]">
    <h1 class="font-gt-america text-[8vw] md:text-[4vw] text-darkblue">
      Our Insights
    </h1>
    <p class="text-[4vw] md:text-[2vw] text-darkblue">
      Follow Our Blog For Cutting-Edge Information On Topics Such As Sales
      Commissions, Sales Operations, Revenue Operations, And Much More.
    </p>
    <div class="flex flex-row gap-6 md:gap-12 pt-5">
      <button
        class="px-8 py-0.5 text-white bg-gradient-to-r from-purple to-cyan rounded-lg text-[4vw] md:text-[1.5vw]"
        >Blog</button
      >
      <button
        class="px-8 py-0.5 text-white bg-gradient-to-r from-purple to-cyan rounded-lg text-[4vw] md:text-[1.5vw]"
        >Tech</button
      >
      <button
        class="px-8 py-0.5 text-white bg-gradient-to-r from-purple to-cyan rounded-lg text-[4vw] md:text-[1.5vw]"
        >Sales</button
      >
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-[5%] gap-24">
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/1.svg" class="object-cover" />
        <p class="bottom-[10%] absolute flex justify-center w-full z-10">
          Revenue Operations 101
        </p>
      </div>
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/2.svg" class="object-cover" />
        <p
          class="bottom-[5%] absolute flex justify-center w-full z-10 px-[10%]"
        >
          10 rules to Increase the Effectiveness of Your Sales Process
        </p>
      </div>
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/3.svg" class="object-cover" />
        <p
          class="bottom-[5%] absolute flex justify-center w-full z-10 px-[10%]"
        >
          Tired of managing your sales team?
        </p>
      </div>
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/1.svg" class="object-cover" />
        <p class="bottom-[10%] absolute flex justify-center w-full z-10">
          Revenue Operations 101
        </p>
      </div>
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/2.svg" class="object-cover" />
        <p
          class="bottom-[5%] absolute flex justify-center w-full z-10 px-[10%]"
        >
          10 rules to Increase the Effectiveness of Your Sales Process
        </p>
      </div>
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/3.svg" class="object-cover" />
        <p
          class="bottom-[5%] absolute flex justify-center w-full z-10 px-[10%]"
        >
          Tired of managing your sales team?
        </p>
      </div>
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/1.svg" class="object-cover" />
        <p class="bottom-[10%] absolute flex justify-center w-full z-10">
          Revenue Operations 101
        </p>
      </div>
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/2.svg" class="object-cover" />
        <p
          class="bottom-[5%] absolute flex justify-center w-full z-10 px-[10%]"
        >
          10 rules to Increase the Effectiveness of Your Sales Process
        </p>
      </div>
      <div
        class="flex items-end text-white font-gt-america text-[4vw] md:text-[1.2vw] relative"
      >
        <img src="/insights/3.svg" class="object-cover" />
        <p
          class="bottom-[5%] absolute flex justify-center w-full z-10 px-[10%]"
        >
          Tired of managing your sales team?
        </p>
      </div>
    </div>
  </main>
</Layout>
