---
import Layout from "../layouts/Layout.astro";
---

<Layout title="McAlign">
  <main class="pt-20 md:pt-0 pl-[10%]">
    <div class="flex flex-col-reverse md:flex-row-reverse overflow-clip">
      <div>
        <img
          src="/hero.svg"
          alt=""
          class="object-contain md:scale-125 -mb-[30%] md:-mb-[20%] mt-[5%]"
        />
      </div>
      <div
        class="w-full lg:w-4/5 flex flex-col justify-center pr-[10%] md:pr-0"
      >
        <div
          class="text-darkblue text-[3.5vw] md:text-[3vw] font-black font-gt-america tracking-[5px] leading-tight"
        >
          <h2>UNIFIED</h2>
          <h2>SALES PERFORMANCE</h2>
          <h2>MANAGEMENT (Unified SPM)</h2>
        </div>
        <h3
          class="text-pink py-5 md:py-0 font-bold font-aeonik text-[2.6vw] md:text-[1.5vw]"
        >
          BETTER DECISION MAKING FOR BETTER SALES PERFORMANCE
        </h3>
        <div class="w-full md:w-[90%]">
          <p class="font-aeonik text-[3vw] md:text-[1.2vw] leading-[1.8]">
            Unified Sales Performance Management (Unified SPM) intelligent
            process framework which align the people, processes and technology
            to ensure that every salespeople have an opportunity to win. Sales
            leaders can leverage USPM frame work to influence behavior and drive
            sales results throughout the organization.
          </p>
        </div>
        <div class="flex flex-col sm:flex-row gap-5 pt-10">
          <button
            class="py-2 px-8 bg-gradient-to-r font-bold font-aeonik from-purple to-cyan text-white text-lg flex flex-row items-center w-fit"
            >Get Started &nbsp; &nbsp; <img
              src="/rightarrow.svg"
              class="h-[1em]"
            />
          </button>
          <button
            class="py-2 px-8 bg-white text-purple border-purple border text-lg w-fit"
            >Contact Us</button
          >
        </div>
      </div>
    </div>
  </main>
  <section class="bg-black/5 w-full py-[10%] px-[15%]">
    <h2
      class="text-center font-gt-america text-darkblue text-[4vw] md:text-[2vw]"
    >
      Partnering with the World's Leading SPM Platforms
    </h2>
    <div
      class="flex pt-10 flex-row flex-wrap md:flex-nowrap items-center gap-16 justify-evenly"
    >
      <div><img src="/partners/xactly.svg" class="object-contain" /></div>
      <div><img src="/partners/varicent.svg" /></div>
      <div><img src="/partners/captivateiq.svg" /></div>
      <div><img src="/partners/aurochs.svg" /></div>
      <div><img src="/partners/everstage.svg" /></div>
    </div>
  </section>
  <section class="py-[5%] px-[12%]">
    <h2
      class="text-center font-gt-america text-darkblue text-[4vw] md:text-[2vw] uppercase"
    >
      Our Services
    </h2>
    <p
      class="pt-5 text-center text-[3vw] md:text-[1.4vw] px-[5%] tracking-wider"
    >
      We have gone above and beyond to show our clients that we are not just
      another consulting firm. We are an extension of their business and
      together we will build a better future.
    </p>
    <div class="pt-10 gap-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex flex-row justify-center">
            <img src="/services/advisory.svg" />
          </div>
          <h3
            class="py-6 font-gt-america text-darkblue text-[4vw] md:text-[1.5vw] tracking-wider"
          >
            Advisory Services
          </h3>
          <p class="leading-loose tracking-widest text-left text-[3vw] md:text-base">
            We offer advisory services to help our clients achieve their goals
            and objectives. With our expertise and experience, we can help you
            find the best solution for your business.<br /><br /> We have access
            to a wide range of services that will ensure that you are able to meet
            your business goals.
          </p>
        </div>
        <button
          class="py-2 mt-4 md:mt-0 px-8 text-[3vw] md:text-base bg-gradient-to-r font-bold font-aeonik from-purple to-cyan text-white text-lg flex flex-row items-center w-fit"
          >Learn More &nbsp; &nbsp; <img
            src="/rightarrow.svg"
            class="h-[1em]"
          />
        </button>
      </div>
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex flex-row justify-center">
            <img src="/services/implementation.svg" />
          </div>
          <h3
            class="py-6 font-gt-america text-darkblue text-[4vw] md:text-[1.5vw] tracking-wider"
          >
            Implementation Services
          </h3>
          <p class="leading-loose tracking-widest text-left text-[3vw] md:text-base">
            Our implementation services set our clients' products and services
            apart from the competition. Our implementation services will help
            you to make your product or service more successful by helping you
            determine how best to implement it.
            <br />
            <br />
            Our implementation experts will work with you every step of the way to
            ensure that your project is delivered in a timely and cost-effective
            manner.
          </p>
        </div>
        <button
          class="py-2 mt-4 md:mt-0 px-8 text-[3vw] md:text-base bg-gradient-to-r font-bold font-aeonik from-purple to-cyan text-white text-lg flex flex-row items-center w-fit"
          >Learn More &nbsp; &nbsp; <img
            src="/rightarrow.svg"
            class="h-[1em]"
          />
        </button>
      </div>
      <div class="flex flex-col justify-between h-full gap-8">
        <div>
          <div class="flex flex-row justify-center">
            <img src="/services/managed.svg" />
          </div>
          <h3
            class="py-6 font-gt-america text-darkblue text-[4vw] md:text-[1.5vw] tracking-wider"
          >
            Managed Services
          </h3>
          <p class="leading-loose tracking-widest text-left text-[3vw] md:text-base">
            We provider that of fers top-tier customer service and technical
            skills, so you can focus on what matters most: running your
            business. We handle all aspects of your IT, so you're free to do
            what you do best: grow!<br /><br /> Our pricing model is competitive,
            and we offer 24x7x365 help desk suppor t. Our team of exper ts will work
            with yours to make sure all your technology needs are met at a rate that
            won't break the bank.
          </p>
        </div>
        <button
          class="py-2 mt-4 md:mt-0 px-8 text-[3vw] md:text-base bg-gradient-to-r font-bold font-aeonik from-purple to-cyan text-white text-lg flex flex-row items-center w-fit"
          >Learn More &nbsp; &nbsp; <img
            src="/rightarrow.svg"
            class="h-[1em]"
          />
        </button>
      </div>
    </div>
  </section>
  <section class="bg-black/5 w-full py-[5%] px-[15%]">
    <h2
      class="text-darkblue text-[4vw] md:text-[2vw] font-gt-america font-black uppercase text-center"
    >
      Our Solutions Framework
    </h2>
    <p
      class="text-center text-[3vw] md:text-[1.5vw] text-darkblue font-medium pt-5 pb-20"
    >
      Orchestrating Unified Sales Performance Management via modern, digital and
      connected process leveraging our 4I framework.
    </p>
    <img src="/infographic.svg" />
  </section>
  <section class="px-[15%] py-[10%] w-full">
    <h2
      class="font-gt-america text-[4vw] md:text-[2.5vw] text-center text-darkblue"
    >
      IMPACT WE GENERATE
    </h2>
    <p class="text-center text-redpink text-[3.2vw] md:text-[1.8vw]">
      Unleash the power of data to accelerate your sales process
    </p>
    <p class="text-center text-[2.8vw] md:text-[1.5vw] pt-10 font-bold">
      With McAlign 4I Framework, you can easily Plan, analyze and manage vital
      sales process data across the entire organization - empowering everyone to
      make better decisions. Below are the impacts we have generated
    </p>
    <div
      class="pt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-evenly place-items-center md:gap-y-20"
    >
      <div>
        <h2 class="text-center font-bold text-[5vw] md:text-[2.5vw]">100%</h2>
        <p class="text-[3vw] md:text-[1.4vw] text-darkblue">
          Full transparency & visibility
        </p>
      </div>
      <div>
        <h2 class="text-center font-bold text-[5vw] md:text-[2.5vw]">80%</h2>
        <p class="text-[3vw] md:text-[1.4vw] text-darkblue">
          Increase a Sales Productivity
        </p>
      </div>
      <div>
        <h2 class="text-center font-bold text-[5vw] md:text-[2.5vw]">90%</h2>
        <p class="text-[3vw] md:text-[1.4vw] text-darkblue">
          Saving On Processing Time
        </p>
      </div>
      <div>
        <h2 class="text-center font-bold text-[5vw] md:text-[2.5vw]">15%</h2>
        <p class="text-[3vw] md:text-[1.4vw] text-darkblue">
          Savings On Budgets
        </p>
      </div>
      <div>
        <h2 class="text-center font-bold text-[5vw] md:text-[2.5vw]">99.6%</h2>
        <p class="text-[3vw] md:text-[1.4vw] text-darkblue">
          Increased Forecasting Accuracy
        </p>
      </div>
      <div>
        <h2 class="text-center font-bold text-[5vw] md:text-[2.5vw]">90%</h2>
        <p class="text-[3vw] md:text-[1.4vw] text-darkblue">
          Increased in Quota Accuracy
        </p>
      </div>
    </div>
  </section>
  <section class="px-[15%] py-[5%] w-full bg-black text-white">
    <h2 class="font-gt-america text-center text-[4vw] lg:text-[2vw]">OUR VALUED CLIENTELE</h2>
    <p class="text-center text-redpink text-[3vw] lg:text-[1.5vw] pt-5">
      Trusted by some of the world&apos;s leading organizations
    </p>
    <p class="text-[3vw] lg:text-[1.4vw] text-center pt-8">
      Our innovative solution has helped some of the world&apos;s most
      successful brands achieve greater growth. Our customers include some of
      the world&apos;s leading brands, including :
    </p>
    <div class="flex flex-row overflow-x-scroll gap-x-[10%] py-20">
      <img src="/clientlogos/bg.svg" />
      <img src="/clientlogos/commscope.svg" />
      <img src="/clientlogos/cyient.svg" />
      <img src="/clientlogos/zoominfo.svg" />
      <img src="/clientlogos/bg.svg" />
      <img src="/clientlogos/commscope.svg" />
      <img src="/clientlogos/cyient.svg" />
      <img src="/clientlogos/zoominfo.svg" />
    </div>
  </section>
  <section class="relative w-full px-[10%] py-[8%] overflow-clip">
    <img src="/circle.svg" class="absolute -top-[35%] -right-[20%] -z-10" />
    <h2
      class="text-darkblue font-gt-america uppercase text-[4vw] md:text-[2vw] text-center tracking-wider"
    >
      Our Insights
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-[5%] gap-24">
      <div
        class="rounded-[50px] bg-gradient-to-b from-darkblue to-black h-[60vh] flex items-end text-white font-gt-america text-[1.2vw] px-[10%]"
      >
        <p class="mb-[10%]">Revenue Operations 101</p>
      </div>
      <div
        class="rounded-[50px] bg-gradient-to-b from-cyan to-pink h-[60vh] flex items-end justify-center text-white font-gt-america text-[1.2vw] px-[10%]"
      >
        <p class="mb-[5%]">
          10 rules to Increase the Effectiveness of Your Sales Process
        </p>
      </div>
      <div
        class="rounded-[50px] bg-gradient-to-b from-lime to-green h-[60vh] flex items-end justify-center text-white font-gt-america text-[1.2vw] px-[10%]"
      >
        <p class="mb-[10%]">Tired of managing your sales team?</p>
      </div>
    </div>
    <center>
      <button
        class="bg-gradient-to-r from-purple to-cyan px-20 py-6 font-gt-america text-white text-[3vw] lg:text-[1.2vw] text-center"
        >View More</button
      >
    </center>
  </section>
</Layout>
