---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Solutions" theme="dark">
  <main class="px-[10%] py-[5%] bg-black">
    <h1
      style="color: transparent;"
      class="bg-clip-text bg-gradient-to-r font-black from-purple to-cyan text-[5vw]"
    >
      Automate your sales planning to improve your bottom line and gain a
      competitive edge.
    </h1>
    <div class="flex flex-row-reverse gap-4 md:gap-8 pt-10">
      <p class="text-white/50 text-[1.8vw] leading-[1.8]">
        Sales planning can be time consuming, tedious and difficult to measure.
        Many companies spend an average of 40%-60% of their time on sales
        planning activities that could be automated with a little bit of effort.
      </p>
      <div class="bg-gradient-to-b from-purple to-cyan min-h-[100%] min-w-[10px] my-[1%]"></div>
    </div>
  </main>
  <div class="px-[9%] py-[5%]">
	<h2 class="text-center font-gt-america text-darkblue text-[4vw] md:text-[2.5vw]">Align your sales team for success</h2>
	<p class="text-[1.8vw] leading-relaxed pt-10">Sales planning is a critical component of any business, but it’s often overlooked. It’s easy to see why:
sales planning can be time consuming, tedious and difficult to measure. But if you want to increase
your productivity and improve the quality of sales team, then it’s important that you find ways to
improve this process. You’re busy, and your sales team is too. That’s why you need a tool that
automates the sales planning process so you can focus on what matters.</p>
  </div>
</Layout>
