---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Solutions" theme="dark">
  <main class="px-[10%] py-[5%] bg-black">
    <h1
      style="color: transparent;"
      class="bg-clip-text bg-gradient-to-r font-black from-purple to-cyan text-[5vw]"
    >
      Automate your sales planning to improve your bottom line and gain a
      competitive edge.
    </h1>
    <div class="flex flex-row-reverse gap-4 md:gap-8 pt-10">
      <p class="text-white/50 text-[1.8vw] leading-[1.8]">
        Sales planning can be time consuming, tedious and difficult to measure.
        Many companies spend an average of 40%-60% of their time on sales
        planning activities that could be automated with a little bit of effort.
      </p>
      <div
        class="bg-gradient-to-b from-purple to-cyan min-h-[100%] min-w-[10px] my-[1%]"
      >
      </div>
    </div>
  </main>
  <div class="px-[9%] py-[5%] bg-black/10">
    <h2
      class="text-center font-gt-america text-darkblue text-[4vw] md:text-[2.5vw]"
    >
      Align your sales team for success
    </h2>
    <p class="text-[1.8vw] leading-relaxed pt-10">
      Sales planning is a critical component of any business, but it’s often
      overlooked. It’s easy to see why: sales planning can be time consuming,
      tedious and difficult to measure. But if you want to increase your
      productivity and improve the quality of sales team, then it&apos;s
      important that you find ways to improve this process. You&apos;re busy,
      and your sales team is too. That&apos;s why you need a tool that automates
      the sales planning process so you can focus on what matters.
    </p>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-24 py-[5%]">
      <div class="bg-white rounded-[50px] text-center px-[10%] py-[10%]">
        <div class="grid place-items-center">
          <img src="/solutions/sales.svg" />
        </div>
        <h4 class="text-darkblue font-bold uppercase text-[1.3vw] my-[5%]">
          Sales Objectives
        </h4>
        <p class="text-black/40 text-[0.95vw] font-medium mb-[20%]">
          Aligning your sales team with your company&apos;s goals is crucial to
          achieving results. It&apos;s not just about setting up Sales
          Objectives and setting targets, it's about ensuring that those targets
          are SMART
        </p>
        <button
          class="bg-gradient-to-r from-purple to-cyan text-white px-12 py-4"
          >Learn More</button
        >
      </div>
      <div class="bg-white rounded-[50px] text-center px-[10%] py-[8%]">
        <div class="grid place-items-center">
          <img src="/solutions/territory.svg" />
        </div>
        <h4 class="text-darkblue font-bold uppercase text-[1.3vw] my-[5%]">
          Territory Planning
        </h4>
        <p class="text-black/40 text-[0.95vw] font-medium mb-[12%]">
          Aligning territories, you will be able to see where there are gaps in
          coverage and take steps to fill those gaps. It also helps identify
          opportunities for growth in areas where demand is high but there are
          not enough resources to cover it
        </p>
        <button
          class="bg-gradient-to-r from-purple to-cyan text-white px-12 py-4"
          >Learn More</button
        >
      </div>
      <div class="bg-white rounded-[50px] text-center px-[10%] py-[10%]">
        <div class="grid place-items-center">
          <img src="/solutions/quota.svg" />
        </div>
        <h4 class="text-darkblue font-bold uppercase text-[1.3vw] my-[5%]">
          Quota Planning
        </h4>
        <p class="text-black/40 text-[0.95vw] font-medium mb-[2%]">
          Aligning your corporate targets across territories, products, business
          segments and sales roles, you'll be able to better understand the
          capacity of your organization and use that information to determine
          what will help you meet those goals and data-driven metrics
        </p>
        <button
          class="bg-gradient-to-r from-purple to-cyan text-white px-12 py-4"
          >Learn More</button
        >
      </div>
    </div>
  </div>
  <section class="w-full">
    <div
      class="flex flex-row gap-24 justify-center border-b-2 border-black/20 shadow-black"
    >
      <div class="py-[0.7%] relative">
        <button class="font-bold text-[2vw]">Sales Objective</button>
        <div
          class="absolute bottom-0 min-h-[8px] min-w-full bg-gradient-to-r from-purple to-cyan"
        >
        </div>
      </div>
      <div class="py-[0.7%] relative">
        <button class="font-bold text-[2vw]">Territory Planning</button>
      </div>
      <div class="py-[0.7%] relative">
        <button class="font-bold text-[2vw]">Quota Planning</button>
      </div>
    </div>
    <div class="px-[10%] py-[5%]">
      <h3 class="px-[5%] text-[3vw] text-center font-bold text-darkblue">
        Aligning your sales team with your Sales Objective is crucial to
        Achieving Results
      </h3>
      <p class="text-[2vw] text-center text-darkblue pt-5">
        Setting up Sales Objectives can be time consuming, tedious and difficult
        to measure.
      </p>
      <p class="pt-10 text-black/50 leading-relaxed text-[1.8vw] text-center">
        Aligning your sales team with your company's goals is crucial to
        achieving results. It’s not just about setting up Sales Objectives and
        setting targets, it's about ensuring that those targets are SMART
        (specific, measurable, achievable, relevant and time bound) and aligning
        incentives with the macro, strategic and financial objectives of your
        organization—and ensuring that salespeople focus on achieving these
        results rather than solely their own personal targets
      </p>
      <div class="flex flex-row flex-wrap gap-12 items-center justify-center">
        <div
          class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%]"
        >
          <div class="flex justify-center">
            <img src="/salesobjective/1.svg" class="object-contain" />
          </div>
          <p class="text-[1.1vw] px-[2%] pt-[10%] text-darkblue text-center">
            Create a plan for achieving sales revenue and profit goals.
          </p>
        </div>
        <div
          class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%]"
        >
          <div class="flex justify-center">
            <img src="/salesobjective/2.svg" class="object-contain" />
          </div>
          <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
            Define the amount of anticipated sales allocated by product,
            territory, or person
          </p>
        </div>
        <div
          class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%]"
        >
          <div class="flex justify-center">
            <img src="/salesobjective/3.svg" class="object-contain" />
          </div>
          <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
            Define Channel Mix, Target Offering(s), Capability and Engagement
            Model
          </p>
        </div>
        <div
          class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%]"
        >
          <div class="flex justify-center">
            <img src="/salesobjective/4.svg" class="object-contain" />
          </div>
          <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
            Manage how sales are executed against the existing sales budget
          </p>
        </div>
        <div
          class="w-[25%] border-black/20 border rounded-[50px] px-[2%] py-[2%]"
        >
          <div class="flex justify-center">
            <img src="/salesobjective/5.svg" class="object-contain" />
          </div>
          <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
            What actions can you take to make sure you hit your target sales
            revenue and profit goals?
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full px-[10%] py-[5%] bg-black/10">
    <h2 class="text-[3vw] text-darkblue font-bold text-center">
      Territory alignment heightens your Sales team confidence in achievable
      sales goals.
    </h2>
    <p class="pt-10 text-darkblue text-[2vw] text-center">
      Territory alignment is an essential component of sales strategy. It's a
      way to ensure that your sales team is confident in the achievable sales
      goals you set for them, and that they have a clear understanding of how
      their efforts fit into the overall picture.
    </p>
    <p class="pt-10 text-black/50 text-center text-[1.8vw] leading-loose">
      Aligning territories, you will be able to see where there are gaps in
      coverage and take steps to fill those gaps. It also helps identify
      opportunities for growth in areas where demand is high but there are not
      enough resources to cover it
    </p>
    <div
      class="flex flex-row flex-wrap gap-12 items-center justify-center pt-10"
    >
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/1.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] px-[2%] pt-[10%] text-darkblue text-center">
          Increased visibility into performance and activity across the
          organization
        </p>
      </div>
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/2.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] pt-[10%] pb-[10%] text-darkblue text-center">
          Optimized use of resources through improved productivity
        </p>
      </div>
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/3.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
          Improved customer satisfaction through better service levels
        </p>
      </div>
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/4.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
          Increased flexibility and agility by having more options available
          when it comes time for expansion or downsizing
        </p>
      </div>
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[2%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/5.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
          Build target lists based on multiple criteria and assess their impact
          on territories, quotas and revenue.
        </p>
      </div>
    </div>
  </section>
  <section class="w-full px-[10%] py-[5%]">
    <h2 class="text-[3vw] text-darkblue font-bold text-center px-[10%]">
      Aligning your corporate targets with your bottom-up capacity
    </h2>
    <p class="pt-10 text-darkblue text-[2vw] text-center">
      Sales quotas are the driving force behind your company's revenue goals.
      But if they're not properly developed and aligned with strategic
      objectives, they can become a source of friction between sales teams and
      management.
    </p>
    <p class="pt-10 text-black/50 text-center text-[1.8vw] leading-loose">
      Aligning your corporate targets across territories, products, business
      segments and sales roles, you'll be able to better understand the capacity
      of your organization and use that information to determine what will help
      you meet those goals and data-driven metrics are used to assess the
      achievability of targets, and ensure that corporate targets are aligned
      across territories, products, business segments, and sales roles.
    </p>
    <div
      class="flex flex-row flex-wrap gap-12 items-center justify-center pt-10"
    >
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/1.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] px-[2%] pt-[10%] text-darkblue text-center">
Align strategic corporate
objectives and budgets
throughout the year
        </p>
      </div>
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/2.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
Uncover true sales capacity by
leveraging iterative planning
and what-if modeling
        </p>
      </div>
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/3.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] pt-[10%] text-darkblue text-center pb-[20%] px-[5%]">
Discover overall sales
potential
        </p>
      </div>
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[3%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/4.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] pt-[10%] text-darkblue text-center pb-[20%]">
Develop comprehensive target
for maximum impact
        </p>
      </div>
      <div
        class="w-[25%] border-black/20 border rounded-[50px] px-[2%] py-[2%] bg-white"
      >
        <div class="flex justify-center">
          <img src="/territory/5.svg" class="object-contain" />
        </div>
        <p class="text-[1.1vw] pt-[10%] text-darkblue text-center">
Develop a centralized view of
all the factors that impacts
target performance.
        </p>
      </div>
    </div>
  </section>
</Layout>
