---
---

<nav class="flex flex-row justify-between pl-[10%] pt-[5%] gap-4">
  <img src="/logo.svg" alt="Logo" />
  <div class="w-full flex justify-end border-b-2 border-black/10">
    <ul class="uppercase gap-12 font-black flex flex-row text-black/40 pr-[10%] tracking-widest"> 
      <li class="text-green">Home</li>
      <li>Our Thinking</li>
      <li>Services</li>
      <li>Blogs</li>
      <li>Contact Us</li>
    </ul>
  </div>
</nav>
