---
export interface Props {
  title: string;
  theme?: string;
}
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title, theme } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      @font-face {
        font-family: "Aeonik";
        src: url("/fonts/Aeonik-Bold.otf");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Aeonik";
        src: url("/fonts/Aeonik-BoldItalic.otf");
        font-weight: bold;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Aeonik";
        src: url("/fonts/Aeonik-Light.otf");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Aeonik";
        src: url("/fonts/Aeonik-LightItalic.otf");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Aeonik";
        src: url("/fonts/Aeonik-Regular.otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Aeonik";
        src: url("/fonts/Aeonik-RegularItalic.otf");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "GT America";
        src: url("/fonts/GT-America-Black.ttf");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
      .swiper-slide {
        width: auto !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
      .swiper-wrapper {
        display: flex !important;
        align-items: center;
      }
    </style>
  </head>
  <body class="font-aeonik">
    <Navbar theme={theme} />
    <slot />
    <Footer />
  </body>
</html>
